
.homeMainContianer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #202124;
}

.redLineLogo {
    width: 80px;
    margin-left: 100px;
}

.offersDeals {
    color: white;
    font-size: 40px;
    text-align: start;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
}